.attribution {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(218, 23%, 16%) ;
}
.container{
    background-color: hsl(217, 19%, 24%);
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    border-radius: 20px;
}
.container .advice-id{
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 4px;
    color: hsl(150, 100%, 66%);
    margin-top: 40px;
}

.container .advice-text{
    text-align: center;
    font-size: 1.8rem;
    color: hsl(193, 38%, 86%);
    margin-top: 10px;
    margin-bottom: 40px;
}


.container button{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    margin: 40px auto 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    border: none;
    padding: 0;
    box-sizing: border-box;
    aspect-ratio: 1 / 1; 
    cursor: pointer;
}

.container button:hover{
    background-color: hsl(150, 100%, 50%);
}

@media (max-width: 525px) {
    .container{
        width: 320px;
        padding: 0px 20px;
    }
    .container .advice-id{
        text-align: center;
        font-size: 0.5rem;
    }
    .container .advice-text{
        font-size: 1.3rem;
    }
    .container button{
        display: block;
        margin: 25px auto 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: hsl(150, 100%, 66%);
        border: none;
        padding: 0;
        box-sizing: border-box;
        aspect-ratio: 1 / 1; 
    }
}